.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}

.columns.light-orange > div{
  background-color: var(--light-orange);
}

.columns.light-blue > div{
  background-color: var(--light-blue);
}

.columns.light-purple > div{
  background-color: var(--light-purple);
}

.columns.light-green > div{
  background-color: var(--light-green);
}

.columns.center > div{
  text-align: center;
}
