.columns9 > div {
  display: flex;
  flex-direction: column;
  background-color: var(--light-orange);
}

.columns9 img {
  width: 100%;
}

.columns9 > div > div {
  order: 1;
}

.columns9 > div > .columns-img-col {
  order: 0;
}

.columns9 > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns9 > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns9 > div > div {
    flex: 1;
    order: unset;
  }
}
