.columnsc > div {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.columnsc img {
  width: 100%;
}

.columnsc > div > div {
  order: 1;
}

.columnsc > div > .columns-img-col {
  order: 0;
}

.columnsc > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns3 > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columnsc > div > div {
    flex: 1;
    order: unset;
  }
}
